* {
	font-family: 'Assistant', sans-serif;
}

strong {
	font-weight: 600 !important;
}

body {
	background-color: #a588be;
}

.title-container {
	margin-top: 5rem;
	padding: .6rem;
	background-color: #7f5c9d;
	color: #fbfbfb;
	border-radius: 5px 5px 0 0;
}

.title-container h1 {
	font-family: 'Caveat Brush', cursive;
	font-size: 3rem;
}

.alert-container {
	display: none;
	padding: 1.5rem 1.6rem .5rem 1.6rem;
	background-color: #fed859;
	color: #696969;
}

.alert-container .title {
	margin-bottom: .4rem;
	font-size: 1.3rem;
	font-weight: bolder;
}

.viewport-container {
	position: relative;
	padding: 1rem 1.6rem;
	min-height: 330px;
	max-height: 330px;
	background-color: #fbfbfb;
	overflow: auto;
}

.viewport-container .messages-loading {
	position: relative;
	top: 120px;
}

.viewport-container .messages-container {
	display: none;
	position: absolute;
	bottom: 10px;
	padding-top: 1.8rem;
	width: calc(100% - 3.2rem);
	max-height: 330px;
}

.viewport-container .messages-container .he,
.viewport-container .messages-container .you,
.viewport-container .messages-container .system {
	margin: -.2rem 0;
}

.viewport-container .messages-container .he p,
.viewport-container .messages-container .you p,
.viewport-container .messages-container .system p {
	position: relative;
	padding: 1.5rem 1rem .5rem 1rem;
	display: inline-block;
	background-color: #a588be;
	color: #fbfbfb;
	border-radius: 3px;
	font-weight: lighter;
	font-size: 1rem;
	min-width: 180px;
}

.viewport-container .messages-container .system p {
	display: block;
	background-color: #fed859;
	color: #696969;
	font-size: .9rem;
}

.viewport-container .messages-container .he p .nickname,
.viewport-container .messages-container .you p .nickname {
	position: absolute;
	top: 6px;
	font-size: .8rem;
	font-weight: 600;
	color: #e8dcf3;
}

.viewport-container .messages-container .he p .nickname {
	left: 16px;
}

.viewport-container .messages-container .you p .nickname {
	right: 16px;
}

.viewport-container .messages-container .he {
	text-align: left;
}

.viewport-container .messages-container .you {
	text-align: right;
}

.input-container {
	padding: 1rem 1.6rem;
	background-color: #e8dcf3;
}

.input-container input,
.input-container input:active,
.input-container input:focus,
.input-container input[disabled] {
	padding: .8rem .2rem;
	background-color: #e8dcf3;
	border: none;
	box-shadow: none;
	outline: none;
	font-weight: lighter;
}

.input-container input[disabled] {
	cursor: not-allowed;
}

.input-container .btn-submit {
	padding-left: .5rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 1.2rem;
}

.input-container .btn-submit:hover {
	background-color: #7f5c9d;
	color: #fbfbfb;
}

.input-container .btn-submit:active,
.input-container .btn-submit:focus {
	box-shadow: none;
}

footer,
footer a,
footer a:hover,
footer a:active,
footer a:focus {
	margin-top: 3rem;
	color: #e8dcf3;
	text-decoration: none;
	font-weight: lighter;
	font-size: 1rem;
}
